{% load static %}
<div class="page-header clear-filter" filter-color="orange" style="height: 700px;">
  <div class="page-header-image" data-parallax="true" style="background-image:url('{% static 'img/header.jpg' %}'); height: 700px;">
  </div>
  <div class="container">
    <div class="content-center">
    <img class="n-logo" src="{% static 'img/logo.png' %}" alt="" style="width: 350px; height: auto;" />
      <h1 class="h1-seo">兩餸飯搜查組.</h1>
      <h3>查詢您喜愛的兩餸飯，並且找到您喜愛的店家。</h3>
    </div>
  </div>
</div>